In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle
import plotly.graph_objects as go

%matplotlib inline

df = pd.read_csv('../data/user-item-interactions.csv')
df_content = pd.read_csv('../data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [4]:
df[df['article_id'] == 1427.0].groupby(['email']).count().sort_values('article_id')

                                          article_id  title
email
ffe3d0543c9046d35c2ee3724ea9d774dff98a32           1      1
5d593d452915eb961c1c72edd6a8823da43ab61d           1      1
5e1d2bf1b7a67a727670334e8174bc8636fd3cd7           1      1
5e2349f39d9e04db5c05c48ddd081c4f554c4853           1      1
ce176867de0dc236ad55f40fa0b2c26204379531           1      1
...                                              ...    ...
276d9d8ca0bf52c780b5a3fc554fa69e74f934a3           9      9
83872a57e34cb69fe4ee76908b004440d410ed22          17     17
fb882a39e938a9c7b7d6f13c8dba0e03898fbe31          17     17
284d0c17905de71e209b376e3309c0b08134f7e2          22     22
18e7255ee311d4bd78f5993a9f09538e459e3fcc          22     22

[308 rows x 2 columns]